<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p> Afin de répondre à des besoins distincts selon les personnes concernées,QuickHealth se veut
           diversifiée dans son activité.Elle prend ainsi en charge toutes les spécialités de médecine interne et de 
           chirurgie. À ce titre, nous avons pris soin de choisir scrupuleusement des médecins de renommée.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-heartbeat"></i></div>
            <h4><a href="">Cardiologie</a></h4>
            <p>Etudie le cœur et les vaisseaux, précise leur fonctionnement et propose des traitements.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-pills"></i></div>
            <h4><a href="">Neurologie</a></h4>
            <p>S'interesse au fonctionnement et aux maladies des systèmes nerveux central, périphérique et végétatif.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-hospital-user"></i></div>
            <h4><a href="">Gastro-Hépato-Enterologie</a></h4>
            <p>Toutes les maladies de l’œsophage, l’estomac, le foie, le pancréas et de l’intestin sont diagnostiquées et traitées</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-dna"></i></div>
            <h4><a href="">Pédiatrie</a></h4>
            <p>Une spécialité médicale qui se consacre à l'enfant, depuis la vie intra-utérine jusqu'à la fin de l'adolescence.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-wheelchair"></i></div>
            <h4><a href="">Pneumo-Allergologie</a></h4>
            <p>Cette discipline étudie et traite les maladies des poumons et des voies respiratoires.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-notes-medical"></i></div>
            <h4><a href="">Hématologie</a></h4>
            <p>Cette spécialité étudie le sang et ses maladies (hémopathies)</p>
          </div>
        </div>

      </div>

    </div>
</section>
