<section id="departments" class="departments">
    <div class="container">

      <div class="section-title">
        <h2>Departements</h2>
        <p>Nous offrons divers départements.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Hématologie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Gynécologie obstétrique</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Grands brûlés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Covid-19</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Pédiatrie</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Hématologie</h3>
                  <p class="fst-italic">L’hématologie est la science médicale qui englobe le diagnostic et le traitement des maladies sanguines appelées aussi hémopathies. Elle étudie les organes hématopoïétiques et leurs maladies.</p>
                  <p>l’hématologie a aussi des branches qui la divisent en deux sous-domaines. Le premier est clinique avec l'hématologie clinique et l’autre biologique/pathologique avec l'hématologie biologique (ou hématopathologie). Le domaine clinique prend directement en charge des malades, du diagnostic clinique à la prise en charge thérapeutique.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Gynécologie obstétrique</h3>
                  <p class="fst-italic">La gynéco-obstétrique (ou gynécologie obstétrique) regroupe plusieurs disciplines qui se rapportent à la santé ainsi qu’au bien-être des femmes avant et pendant la grossesse et l’accouchement. </p>
                  <p> En dehors de la grossesse, les soins prodigués relèvent de la gynécologie, celle qui concerne l’accouchement relève de l’obstétrie.La gynécologie en Tunisie traite les différents troubles d’ordre génital. Il s’agit d’une spécialité en évolution continue, depuis sa naissance en Tunisie, il y a presque un siècle.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/enceinte.png" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Grands brûlés</h3>
                  <p class="fst-italic">Le département des grands brûlés est intégré à notre Service de médecine intensive pour adulte. C'est l'un des spécialisés dans le traitement des malades gravement brûlés.</p>
                  <p>Des équipes multidisciplinaires, à la fois médicales et chirurgicales, s’occupent plus particulièrement de ces malades 24 heures sur 24 et 7 jours sur 7 et sont prêtes à accueillir à tout moment un-e patient-e nécessitant des soins spécialisés.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/brul.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Covid-19</h3>
                  <p class="fst-italic">Le department de covid 19 a été créer face à l'evolution de l'épidemie et l'augmentation des personnes affectées</p>
                  <p>Quelques 278 patients, dont 62 admis en réanimation et en soins intensifs et 20 autres placés sous respirateur artificiel, sont hospitalisés dans les établissements publics de santé et les cliniques privées et ce, après avoir recensé 16 nouvelles hospitalisations, en date du 1er novembre, lit-on de même source.</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/covid19.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Pédiatrie</h3>
                  <p class="fst-italic">Parmi les nombreuses branches de la médecine , la pédiatrie est celle spécialisée dans l’étude du développement psycho-moteur et physiologique normal de l'enfant.</p>
                  <p>La médecine des enfants ou la pédiatrie , prend en charge les patients, considérés légalement et d’après l’article 1er de la convention relative aux droits de l’enfant, comme sujets âgés de moins de 18 ans . Le médecin de cette branche est un pédiatre .</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
